In [1]:
import pandas as pd
import numpy as np 
import matplotlib as plt 
import seaborn as sns
import sklearn as skl

In [3]:
df = pd.read_csv("starbucks_coffe_shops.csv")
df

,Unnamed: 0,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude,Rating
0,0,Starbucks,47370-257954,"Meritxell, 96",Licensed,"Av. Meritxell, 96",Andorra la Vella,7,AD,AD500,376818720,GMT+1:00 Europe/Andorra,1.53,42.51,5
1,1,Starbucks,22331-212325,Ajman Drive Thru,Licensed,"1 Street 69, Al Jarf",Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.42,1
2,2,Starbucks,47089-256771,Dana Mall,Licensed,Sheikh Khalifa Bin Zayed St.,Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.39,0
3,3,Starbucks,22126-218024,Twofour 54,Licensed,Al Salam Street,Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.38,24.48,0
4,4,Starbucks,17127-178586,Al Ain Tower,Licensed,"Khaldiya Area, Abu Dhabi Island",Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.54,24.51,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25595,25595,Starbucks,21401-212072,Rex,Licensed,"141 Nguyễn Huệ, Quận 1, Góc đường Pasteur và L...",Thành Phố Hồ Chí Minh,SG,VN,70000,08 3824 4668,GMT+000000 Asia/Saigon,106.70,10.78,5
25596,25596,Starbucks,24010-226985,Panorama,Licensed,"SN-44, Tòa Nhà Panorama, 208 Trần Văn Trà, Quận 7",Thành Phố Hồ Chí Minh,SG,VN,70000,08 5413 8292,GMT+000000 Asia/Saigon,106.71,10.72,3
25597,25597,Starbucks,47608-253804,Rosebank Mall,Licensed,"Cnr Tyrwhitt and Cradock Avenue, Rosebank",Johannesburg,GT,ZA,2194,27873500159,GMT+000000 Africa/Johannesburg,28.04,-26.15,4
25598,25598,Starbucks,47640-253809,Menlyn Maine,Licensed,"Shop 61B, Central Square, Cnr Aramist & Coroba...",Menlyn,GT,ZA,181,NaN,GMT+000000 Africa/Johannesburg,28.28,-25.79,5
25599,25599,Starbucks,47609-253286,Mall of Africa,Licensed,"Shop 2077, Upper Level, Waterfall City",Midrand,GT,ZA,1682,27873500215,GMT+000000 Africa/Johannesburg,28.11,-26.02,0

In [6]:
df.shape

(25600, 15)

In [8]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25600 entries, 0 to 25599
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      25600 non-null  int64
 1   Brand           25600 non-null  object
 2   Store Number    25600 non-null  object
 3   Store Name      25600 non-null  object
 4   Ownership Type  25600 non-null  object
 5   Street Address  25598 non-null  object
 6   City            25585 non-null  object
 7   State/Province  25600 non-null  object
 8   Country         25600 non-null  object
 9   Postcode        24078 non-null  object
 10  Phone Number    18739 non-null  object
 11  Timezone        25600 non-null  object
 12  Longitude       25599 non-null  float64
 13  Latitude        25599 non-null  float64
 14  Rating          25600 non-null  int64
dtypes: float64(2), int64(2), object(11)
memory usage: 2.9+ MB

         Unnamed: 0     Longitude      Latitude        Rating
count  25600.000000  25599.000000  25599.000000  25600.000000
mean   12799.500000    -27.872234     34.793016      2.508711
std     7390.227782     96.844046     13.342332      1.701550
min        0.000000   -159.460000    -46.410000      0.000000
25%     6399.750000   -104.665000     31.240000      1.000000
50%    12799.500000    -79.350000     36.750000      3.000000
75%    19199.250000    100.630000     41.570000      4.000000
max    25599.000000    176.920000     64.850000      5.000000

In [11]:
print(df.duplicated().sum())

0

In [ ]:
qualitaif = df.select_dtypes(include=['O'])
quantitatif = df.select_dtypes(include=['int','float'])

In [18]:
df.isnull().sum()

Unnamed: 0           0
Brand                0
Store Number         0
Store Name           0
Ownership Type       0
Street Address       2
City                15
State/Province       0
Country              0
Postcode          1522
Phone Number      6861
Timezone             0
Longitude            1
Latitude             1
Rating               0
dtype: int64

In [21]:
df.fillna({"Phone Number":"unkonwn"},inplace=True)
df.fillna({"Postcode":"unkonwn"},inplace=True)
df.fillna({"Longitude":df["Longitude"].mean()},inplace=True)
df.fillna({"Latitude":df["Latitude"].mean()},inplace=True)
df.fillna({"Street Address":"unkonwn"},inplace=True)
df.fillna({"City":"unkonwn"},inplace=True)

In [24]:
df['Timezone_offset'] = df['Timezone'].str.extract(r'([+-]\d+)').astype(float)
df['Timezone_offset'].std()

np.float64(6.380744462401397)

In [25]:
df["Ownership Type"].value_counts()

Ownership Type
Company Owned    11932
Licensed          9375
Joint Venture     3976
Franchise          317
Name: count, dtype: int64

In [26]:
df["Timezone_offset"].std()

np.float64(6.380744462401397)